<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/showoff/mybatis/ShowoffMapper.xml">

	<!--productDAO  -->
	<select id="bestView" resultType="com.showoff.dto.ProductDTO" parameterType="String">
		<![CDATA[
			SELECT * FROM (SELECT * FROM product ORDER BY p_purchasecnt DESC) WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="highPriceView" resultType="com.showoff.dto.ProductDTO" parameterType="String">
		<![CDATA[
			SELECT * FROM (SELECT * FROM product ORDER BY p_price DESC) WHERE ROWNUM <= 4
		]]>
	</select>
	
	<select id="newView" resultType="com.showoff.dto.ProductDTO" parameterType="String">
		<![CDATA[
			SELECT * FROM (SELECT * FROM product ORDER BY p_indate DESC) WHERE ROWNUM <= 12
		]]>
	</select>
  	
  	
  	
  	<!-- =================================================================================  -->
  	<!--MemberDAO  -->
  	<insert id="insertMember" parameterType="com.showoff.dto.MemberDTO">
  	INSERT INTO showoff_member 
  	VALUES(#{id} , #{pw} , #{gname} , #{phone} , #{email})
  	</insert>
  	
  	<select id="confirmID" parameterType="String" resultType="String">
  	SELECT * FROM showoff_member 
  	WHERE id = #{userid}
  	</select>
  	
  	<select id="confirmPW" parameterType="com.showoff.dto.MemberDTO" resultType="String">
  	SELECT id FROM showoff_member 
  	WHERE id= #{id} AND pw = #{pw}
  	</select>
  	
  	<select id="loginCheck" parameterType="com.showoff.dto.MemberDTO" resultType="com.showoff.dto.MemberDTO">
  	SELECT * FROM showoff_member 
  	WHERE id= #{id} AND pw = #{pw}
  	</select>
  	
  	<update id="memUpdate" parameterType="com.showoff.dto.MemberDTO">
  	UPDATE showoff_member 
	SET pw = #{pw} , gname = #{gname} , phone = #{phone} , email = #{email} 
	WHERE id = #{id}
  	</update>
  	
  	<update id="updatePW" parameterType="com.showoff.dto.MemberDTO">
  	UPDATE showoff_member SET 
	pw = #{pw} 
	WHERE id= #{id}
  	</update>
  	
  	
  	<delete id="deleteMember" parameterType="String">
  	DELETE FROM showoff_member
  	WHERE id = #{userid}
  	</delete>
  	
  	<!--boardDAO  -->
  	<select id="boardList" resultType="com.showoff.dto.BoardDTO">
  		<![CDATA[
  		SELECT * FROM(SELECT rownum rnum, 
              a.* 
              FROM (SELECT *
                        FROM board
                        WHERE bno > 0
                        ORDER BY bno DESC
                        )a
                )
		WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
  		]]>
  	</select>
  	
  	<!--pagination  -->
  	<select id="countPaging" resultType="int">
  		<![CDATA[
			SELECT count(bno) 
			FROM board 
			WHERE bno > 0
		]]>
  	
  		<if test='flag == "1"'>
   		 <![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' ]]>
    	</if>
     	<if test='flag == "2"'>
   		 <![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
     	</if>
     	<if test='flag == "3"'>
   		 <![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
     	</if>
     	<if test='flag == "4"'>
   		 <![CDATA[AND writer LIKE '%'||#{keyword}||'%']]>
     	</if>
  	</select>
  	
  	<!--searchAction  -->
  	
  	<select id="BoardSearchList" resultType="com.showoff.dto.BoardDTO">
	  	<![CDATA[
	  		SELECT * FROM(SELECT rownum rnum, 
	              a.* 
	              FROM (SELECT *
	                        FROM board
	                        WHERE bno > 0 ]]> 
	                        
	                        <if test='flag == "1"'>
	                      		 <![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%' ]]>
	                        </if>
	                        <if test='flag == "2"'>
	                      		 <![CDATA[AND title LIKE '%'||#{keyword}||'%']]>
	                        </if>
	                        <if test='flag == "3"'>
	                      		 <![CDATA[AND content LIKE '%'||#{keyword}||'%']]>
	                        </if>
	                        <if test='flag == "4"'>
	                      		 <![CDATA[AND writer LIKE '%'||#{keyword}||'%']]>
	                        </if>
	                        
	        <![CDATA[       ORDER BY bno DESC
	                        )a
	                )
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
	  		]]>
  	</select>
  	
  	<!--board viewCnt  -->
  	<update id="viewCnt">
  		UPDATE board SET 
		viewcnt = viewcnt + 1 
		WHERE bno = #{bno}
  	</update>
  	
  	<!--board Detail  -->
  	<select id="boardDetailView" resultType="com.showoff.dto.BoardDTO">
  		SELECT * FROM board 
  		WHERE bno = #{bno}
  	</select>
  	
  	<!--board regist  -->
  	<insert id="boardInsert" parameterType="com.showoff.dto.BoardDTO">
  		
  		<choose>
			<when test="content != null">
				INSERT INTO board(bno,title, content, writer , filename ,filesize)
				VALUES(seq_board.nextval , #{title}, #{content} , #{writer} , #{filename} , #{filesize})			
			</when>
			
			<otherwise>
				INSERT INTO board(bno,title, content, writer , filename ,filesize)
				VALUES(seq_board.nextval , #{title}, #{content} , #{writer} , #{filename} , #{filesize})
			</otherwise>
  		</choose>
  	
  	</insert>
  	
</mapper>